[project]
	description = OpenStack Compute (Nova)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/narendervemula
[access "refs/for/refs/*"]
	read = group user/narendervemula
	push = group user/narendervemula
	label-Code-Review = -2..+2 group user/narendervemula
	label-Verified = -1..+1 group user/narendervemula
	rebase = group user/narendervemula
	removeReviewer = group user/narendervemula
	submit = group user/narendervemula
[access "refs/heads/*"]
	read = group user/narendervemula
	create = group user/narendervemula
	push = +force group user/narendervemula
	pushMerge = group user/narendervemula
[access "refs/tags/*"]
	push = group user/narendervemula
	push = +force group user/narendervemula
